<form #addForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col s12">
            <input-field title="Source" [(ngModel)]="newQuote.source" name="source" #source="ngModel" required [valid]="source.valid" type="text"></input-field>
            <input-field title="Quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required [valid]="quote.valid" type="textarea"></input-field>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" type="button" (click)="save()" [disabled]="!addForm.form.valid">Save
            </button>
            <button class="btn waves-effect waves-light" type="button" (click)="cancel()">Cancel
            </button>
        </div>
    </div>
</form>
