<div class="row">
    <div class="input-field col s12">
        <input [attr.id]="id" type="text" [(ngModel)]="value"
               (focus)="onFocus()" (blur)="onBlur()" class="validate" [ngClass]="{ 'valid': valid, 'invalid': !valid }" *ngIf="type === 'text'">
        <textarea [attr.id]="id" class="materialize-textarea validate" [(ngModel)]="value"
                  (focus)="onFocus()" (blur)="onBlur()" [ngClass]="{ 'valid': valid, 'invalid': !valid }" *ngIf="type === 'textarea'"></textarea>
        <label [attr.for]="id" [ngClass]="{ 'active': hasFocus }">{{ title }}</label>
    </div>
</div>
